
*.pyc
*.xml
*.mk
*.hex
*.elf
*.o
*.d
firmware/dsPicI2CeCAN.X/nbproject/
firmware/dsPicI2CeCAN.X/dist/
firmware/dsPICeCAN.X/nbproject/
firmware/PetitRobot.X/nbproject/
firmware/PetitRobot.X/dist/
firmware/MotorDrive.X/nbproject/
python/.ipynb_checkpoints/
python/exemple/.ipynb_checkpoints/