/*  Name-agnostic definitions.
 *  These definitions are just a copy of the definitions further below given a generic name.
 *  This allows publishers to make a reference to "the page's default font" without having to
 *  update hundreds of custom pages/styles to match the new name.
 */

    @font-face{
        font-family:'ADSK-Default';
            src:url('fontfiles/a787c0d0-5c3a-49a5-ac1d-58ba18d7b318.eot?#iefix');
            src:url('fontfiles/a787c0d0-5c3a-49a5-ac1d-58ba18d7b318.eot?#iefix') format('eot'),
            url('fontfiles/ded315bd-b7cb-4155-8b66-c8130665ca86.woff') format('woff'),
            url('fontfiles/3d8254e6-0430-4041-be35-086e2d354c65.ttf') format('truetype'),
            url('fontfiles/b73363d5-a31c-4bcf-a9a8-c976b259b9f7.svg#b73363d5-a31c-4bcf-a9a8-c976b259b9f7') format('svg');
        font-style: italic;
        font-weight: 400;
    }
    @font-face{
        font-family:'ADSK-Default';
            src:url('fontfiles/52ead824-f15b-42aa-933e-760d9118ee3c.eot?#iefix');
            src:url('fontfiles/52ead824-f15b-42aa-933e-760d9118ee3c.eot?#iefix') format('eot'),
            url('fontfiles/c4021bd0-7750-4b13-93ba-023c8ff640d9.woff') format('woff'),
            url('fontfiles/9c337598-20c7-4768-9c93-178bfaee21f2.ttf') format('truetype'),
            url('fontfiles/79b4e97e-05c5-40c9-ab80-ee9e98640927.svg#79b4e97e-05c5-40c9-ab80-ee9e98640927') format('svg');
        font-style: normal;
        font-weight: 300;
    }
    @font-face{
        font-family:'ADSK-Default';
            src:url('fontfiles/46e9b7e8-4339-4f0a-bb79-c9ddc7260724.eot?#iefix');
            src:url('fontfiles/46e9b7e8-4339-4f0a-bb79-c9ddc7260724.eot?#iefix') format('eot'),
            url('fontfiles/aa098831-f184-40d1-bd48-0f2a034c8e17.woff') format('woff'),
            url('fontfiles/e845c197-93d2-4207-93f7-0cb4a768e2cb.ttf') format('truetype'),
            url('fontfiles/d9885221-9a3f-496b-9a35-54676cfb23e6.svg#d9885221-9a3f-496b-9a35-54676cfb23e6') format('svg');
        font-style: normal;
        font-weight: 700;
    }
    @font-face{
        font-family:'ADSK-Default';
            src:url('fontfiles/d63afc2f-697c-4284-b6cf-c195b58bdc77.eot?#iefix');
            src:url('fontfiles/d63afc2f-697c-4284-b6cf-c195b58bdc77.eot?#iefix') format('eot'),
            url('fontfiles/b88d391b-3aef-4339-874f-747a0aebe05f.woff') format('woff'),
            url('fontfiles/a7018cfc-61ad-41b0-84d3-bfc319a4029b.ttf') format('truetype'),
            url('fontfiles/77ecb448-590f-4c02-adc8-779d74e4b854.svg#77ecb448-590f-4c02-adc8-779d74e4b854') format('svg');
        font-style: normal;
        font-weight: 400;
    }



/*  Default Frutiger definitions.
 *  An attempt will be made to map styles to appropriate font-faces when these are used.
 */

    @font-face{
        font-family:'Frutiger';
            src:url('fontfiles/a787c0d0-5c3a-49a5-ac1d-58ba18d7b318.eot?#iefix');
            src:url('fontfiles/a787c0d0-5c3a-49a5-ac1d-58ba18d7b318.eot?#iefix') format('eot'),
            url('fontfiles/ded315bd-b7cb-4155-8b66-c8130665ca86.woff') format('woff'),
            url('fontfiles/3d8254e6-0430-4041-be35-086e2d354c65.ttf') format('truetype'),
            url('fontfiles/b73363d5-a31c-4bcf-a9a8-c976b259b9f7.svg#b73363d5-a31c-4bcf-a9a8-c976b259b9f7') format('svg');
        font-style: italic;
        font-weight: 400;
    }
    @font-face{
        font-family:'Frutiger';
            src:url('fontfiles/52ead824-f15b-42aa-933e-760d9118ee3c.eot?#iefix');
            src:url('fontfiles/52ead824-f15b-42aa-933e-760d9118ee3c.eot?#iefix') format('eot'),
            url('fontfiles/c4021bd0-7750-4b13-93ba-023c8ff640d9.woff') format('woff'),
            url('fontfiles/9c337598-20c7-4768-9c93-178bfaee21f2.ttf') format('truetype'),
            url('fontfiles/79b4e97e-05c5-40c9-ab80-ee9e98640927.svg#79b4e97e-05c5-40c9-ab80-ee9e98640927') format('svg');
        font-style: normal;
        font-weight: 300;
    }
    @font-face{
        font-family:'Frutiger';
            src:url('fontfiles/46e9b7e8-4339-4f0a-bb79-c9ddc7260724.eot?#iefix');
            src:url('fontfiles/46e9b7e8-4339-4f0a-bb79-c9ddc7260724.eot?#iefix') format('eot'),
            url('fontfiles/aa098831-f184-40d1-bd48-0f2a034c8e17.woff') format('woff'),
            url('fontfiles/e845c197-93d2-4207-93f7-0cb4a768e2cb.ttf') format('truetype'),
            url('fontfiles/d9885221-9a3f-496b-9a35-54676cfb23e6.svg#d9885221-9a3f-496b-9a35-54676cfb23e6') format('svg');
        font-style: normal;
        font-weight: 700;
    }
    @font-face{
        font-family:'Frutiger';
            src:url('fontfiles/d63afc2f-697c-4284-b6cf-c195b58bdc77.eot?#iefix');
            src:url('fontfiles/d63afc2f-697c-4284-b6cf-c195b58bdc77.eot?#iefix') format('eot'),
            url('fontfiles/b88d391b-3aef-4339-874f-747a0aebe05f.woff') format('woff'),
            url('fontfiles/a7018cfc-61ad-41b0-84d3-bfc319a4029b.ttf') format('truetype'),
            url('fontfiles/77ecb448-590f-4c02-adc8-779d74e4b854.svg#77ecb448-590f-4c02-adc8-779d74e4b854') format('svg');
        font-style: normal;
        font-weight: 400;
    }

